<div class="container mt-4">
  <h1>Add New Post</h1>
  <form [formGroup]="form" (ngSubmit)="submitPost()">
    <div class="form-group">
      <label for="topic">Topic/Title</label>
      <input formControlName="topic" type="text" class="form-control" id="topic" placeholder="Enter topic/title" required>
      <div *ngIf="f.topic.touched && f.topic.invalid" class="alert alert-danger">
        <div *ngIf="f.topic.errors.required">Topic/title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea formControlName="content" class="form-control" id="content" rows="4" placeholder="Enter post content" required></textarea>
      <div *ngIf="f.content.touched && f.content.invalid" class="alert alert-danger">
        <div *ngIf="f.content.errors.required">Content is required.</div>
      </div>
    </div>

    <!-- Start Date Picker -->
    <div class="form-group">
      <label for="startDate">Start Date :  </label>
      <ngb-datepicker formControlName="startDateControl" name="startDate"></ngb-datepicker>
    </div>
    <br>
    <!-- End Date Picker -->
    <div class="form-group">
      <label for="endDate">End Date :  </label>
      <ngb-datepicker formControlName="endDateControl" name="endDate"></ngb-datepicker>
    </div>

    <br>

    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit Post</button>
  </form>
</div>

