<div class="container mt-4">
  <h1>Update Post</h1>
  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="form-group">
      <label for="topic">Topic/Title</label>
      <input formControlName="topic" type="text" class="form-control" id="topic" placeholder="Enter topic/title" required>
      <div *ngIf="f.topic.touched && f.topic.invalid" class="alert alert-danger">
        <div *ngIf="f.topic.errors.required">Topic/title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea formControlName="content" class="form-control" id="content" rows="4" placeholder="Enter post content" required></textarea>
      <div *ngIf="f.content.touched && f.content.invalid" class="alert alert-danger">
        <div *ngIf="f.content.errors.required">Content is required.</div>
      </div>
    </div>

    <div class="form-group" *ngIf="this.userData.imageName">
      <label for="existingImage">Existing Image:</label>
      <img  class="custom-image" [src]="'http://localhost:8085/api/v1/posts/image/' + this.userData.imageName" alt="Post Image">
      <!-- <img [src]="existingImageUrl" alt="Existing Image" class="img-thumbnail" id="existingImage"> -->
      <p class="mt-2">{{ this.userData.imageName }}</p>
    </div>

    <div class="form-group">
      <label for="image">Image Upload</label>
      <input type="file" class="form-control-file" id="image" (change)="onImageSelected($event)" accept="image/*">
    </div>

    <br>

    <!-- Start Date Picker -->
    <div class="form-group">
      <label for="startDate">Start Date :  </label>
      <ngb-datepicker formControlName="startDateControl" name="startDate"></ngb-datepicker>
    </div>
    <br>
    <!-- End Date Picker -->
    <div class="form-group">
      <label for="endDate">End Date :  </label>
      <ngb-datepicker formControlName="endDateControl" name="endDate"></ngb-datepicker>
    </div>

    <br>

    <div class="button-container">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Update Post</button>
      <button type="button" routerLink="/profile" class="btn btn-secondary">Back</button>
    </div>

  </form>
</div>
<br>


